
<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>

<link rel="stylesheet" href="{{url_for('static', filename='bootstrap.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='customize.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='template.css')}}">

  
</head>
<body class="body">
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="resources/js/bootstrap.js"></script>



<style type="text/css">
.jumbotron{
text-shadow:black 0.2em 0.2em 0.2em;
color:white;
height:300px;
background-image:url('resources/images/babyele.JPG');
background-size:70% 100%;
background-repeat : no-repeat;
background-position:center;
}
</style>
<!-- <%@include file="header.jsp"%> -->
<nav class="navbar navbar-default">
	<div class="container-fluid">
	
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
			data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><!-- 크기를 줄였을때 나타나는 버튼 -->
				<span class="sr-only"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index.do">Pigeon</a>
			
			<c:if test="${Siscouncil==10}">
			<a class="navbar-brand" href="userall.do">뉴스 보러가기</a>
			<a class="navbar-brand" href="bankall.do">취준 게시판</a>
			
			</c:if>
		</div>	
		
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"><!-- 네비 중간 대부분을 차지함 -->
			
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
					aria-haspopup="true" aria-expanded="false">
					환영합니다
					<span class="caret"></span></a>
					<ul class="dropdown-menu">
					

					
					</ul>
			
				</li>
			</ul>
			
		</div>
	</div>
</nav>



<div class="container">
	<div class="jumbotron">



		

<h1>Pigeon Project 2021</h1>



	</div>
	<div id="header_input">
		<div id="input_div">


			<input class="input_company" placeholder=" 검색어 입력" />

			<select class="input_potal">
				<option>전체 (포탈 선택)</option>
				<option>Job-korea</option>
				<option>Saram-in</option>
				<option>Indeed</option>
			</select>

			<select class="input_location">
				<option selected>전체(희망 지역)</option>
				<option>서울</option>
				<option>경기</option>
				<option>인천</option>
				<option>부산</option>
				<option>대구</option>
				<option>광주</option>
				<option>대전</option>
				<option>울산</option>
				<option>세종</option>
				<option>강원</option>
				<option>경남</option>
				<option>경북</option>
				<option>전남</option>
				<option>전북</option>
				<option>충남</option>
				<option>충북</option>
				<option>제주</option>
			</select>

			<select class="input_jobtype">
				<option selected>전체(근무 형태)</option>
				<option>정규직</option>
				<option>계약직</option>
				<option>인턴</option>
				<option>아르바이트</option>
				<option>병역특례</option>
			</select>

			<button class="search_btn">
				검색
			</button>
		</div>
	</div>

	

<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title"><span class="glyphicon glyphicon-pencil"></span>
			&nbsp;&nbsp;Hot Topic</h3>	
		</div>
		<div class="panel-body">
			<div class="media"><!-- 사진이나 동영상을 담는 클래스 -->
				<div class="media-left">
					<!-- <a href="lecture.jsp?lectureName=C"> -->
				</div>
				<div class="media-body">
					<h4 class="media-heading"> <a href="lecture.jsp?lectureName=C">
						검색 결과
						&nbsp;<span class="badge">New</span></a></h4>

				</div>
			 </div><hr>
			 <div class="media">
				<div class="media-left">
					<!-- <a href="lecture.jsp?lectureName=Java">
						<img class="media-object" src="images/apple.png" alt="로고?"></a> -->
				</div>
				<div class="media-body">
					<h4 class="media-heading"> <a href="lecture.jsp?lectureName=Java">뉴스 모아 보기&nbsp;<span class="badge">New</span></a></h4>
                  
					{% for ml in data %}
                    <!-- https://jobkorea.co.kr{{ml[0]}} -->
                 <div>
                  <a href="https://www.jobkorea.co.kr{{ml[0]}}">{{ml[1]}}</a>
                </div>
                   
                

                   {% endfor %}
    
					
				</div>
			 </div><hr>
			 <div class="media">
				<div class="media-left">
					<!-- <a href="lecture.jsp?lectureName=Android">
						<img class="media-object" src="images/apple.png" alt="로고?"></a> -->
				</div>
				<div class="media-body">
					<h4 class="media-heading"> <a href="lecture.jsp?lectureName=Android">Top 10 채용 진행!!&nbsp;<span class="badge">New</span></a></h4>

	<div>채용 top 10</div>
                    {% for ml in data2 %}
        
                    <!-- https://jobkorea.co.kr{{ml[0]}} -->
                 <div>
        
                  <a>{{ml[1]}} : {{ml[0]}}</a>
                </div>
                   
                
            
                   {% endfor %}
				</div>
			 </div>
		</div>
	
	</div>
		
	
</div>
<div style="height:200px"></div>


<div class="footer">
	

<footer style="background-color: #000000;color:#ffffff">
	<div class="container">
		<br>
		<div class="row">
			<div class="col-sm-2" style="text-align: center;"><h5>Copyright &copy; 2021</h5><h5>Pigeon </h5></div>
			<div class="col-sm-8"><h4>created by<h4><p>김산, 여승구</p></div>

			<div class="col-sm-2"><h4 style="text-align:center;">&nbsp; by Pigeon</h4></div>
	</div>

	
</div>
</footer>

</div>
</body>
</html>